.join-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .join-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .membership-form {
        width: 60%;
    }

    .membership-cards {
        width: 35%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-in-out;
}

.card.animate {
    opacity: 1;
    transform: translateY(0);
}
