@media screen and (min-width: 640px) {
  .navigation {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

  #menu-toggle {
    display: none;
  }

  header, nav, main {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .member-card {
    flex: 1 1 30%;
  }
}
