@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
    }

    .navigation li {
        margin: 0;
    }

    .about-photo {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: start;
    }

    .about,
    .photo {
        flex: 1;
    }

    .filters {
        justify-content: flex-start;
    }

    .course-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .course-card {
        flex: 1 1 150px;
    }

    footer {
        font-size: 1rem;
    }
} 